#result
result/*

#objective
*.o

#bin and lib
bin/*
lib/*
*.bin
#stream executable
stream.hsw*
Benchmark/hpcbenchmark-collection/raws/
Benchmark/hpcbenchmark-collection/log/
Benchmark/hpcbenchmark-collection/particlefilter/*
Benchmark/hpcbenchmark-collection/stream/*
Benchmark/hpcbenchmark-collection/UoB/*
